.navbar {
  background: linear-gradient(to right,#edf0f8, #e4f1f8, #d3e1f4,#e9f1fc);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  color: white;

}


.text{
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(to right, #03474c, #287cea,#0f656b); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.active-text {
  cursor: pointer;
  font-weight: bold;
  position: relative;
  display: inline-block;
  color: initial; 
}

.active-text::after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%; 
  bottom: -4px; 
  background: linear-gradient(to right, #42034c, #c328ea, #680f6b);
  height: 3px; 
  transition: right 0.3s ease-in-out; 
}

.active-text:hover::after,
.active-text::after {
  right: 0; 
  animation: underlineAnimation 0.3s forwards; 
}

@keyframes underlineAnimation {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

.Heading {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 5px;
color: rgb(0, 76, 139);
}

.newcar{
  margin-top: 20px;
  margin-bottom: 20px;
}
.textt {
  text-align: center;
  background: linear-gradient(to right, red,rgb(0, 0, 0),yellow); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}



.formBox input {
  width: 90%;
  padding: 6px;
  margin-bottom: 4px;
  margin-top: 6px;
  border: 1px solid rgb(171, 174, 175);
  border-radius: 8px;
}
.formBox label {
  color: rgb(18, 113, 202);
  font-weight: bold;
}
.formBox input[type="submit"] {
  color: white;
  font-weight: bold;
  background-color: rgb(20, 157, 221);
  cursor: pointer;
}
.login_link {
  color: rgb(8, 82, 179);
  text-decoration: underline;
}
.add_car {
  display: flex;
  justify-content: end;
  width: 85%;
  margin: auto;
  margin-top: 40px;
  border: 3px solid red;
}
.addCar_container {
  width: 85%;
  padding: 35px 25px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-width: 2px; 
  border-image: linear-gradient(45deg, red, aqua, white);
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, red, aqua, white);
  animation: moveBorder 4s linear infinite; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.addCar_container > div {
  width: 45%;
}
.addCar_container > div label {
  color: rgb(18, 113, 202);
  font-weight: bold;
}
.addCar_container > div input {
  width: 90%;
  padding: 6px;
  margin-bottom: 4px;
  margin-top: 6px;
  border: 1px solid rgb(171, 174, 175);
  border-radius: 8px;
}
.addCar_button {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 90px;
}
.addCar_button button {
  height: 90%;
  width: 40%;
  font-size: 32px;
}
.carList {
  width: 35%;
  margin-top: 4px;
  margin-bottom: 3px;
  padding: 2px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.carList:hover {
  cursor: pointer;
  background-color: rgb(171, 233, 212);
}
.homePage_cars_container {
  width: 85%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.homePage_cars_div {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 20px 15px;
}
.homePage_cars_div > img {
  width: 90%;
  margin: auto;
  height: 200px;
  margin-bottom: 10px;
}
.homePage_cars_div > p {
  padding: 3px;
  font-weight: bold;
}
.details_btn {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}
.homepage_icon_btn{
  width: 10%;
  color: black;
  font-size: 28px;
  padding: 6px;
  font-weight: bold;
}

.loading{
  text-align: center;
  font-size: 25px;
}
.details_btn > button:nth-child(2){
  /* width: 30%; */
  color: whitesmoke;
  background-color: rgb(20, 157, 221);
  font-size: 18px;
  padding: 7px;
  font-weight: bold;
  border-radius: 5px;
}

.details_btn > button:nth-child(2):hover {
  background-color: rgb(19, 84, 114);
}
.homepage_icon_btn:hover{
  background-color: rgb(201, 215, 221);
}
/*--------------------------------- Details Page css ------------------------------- */
.details_page_container {
  width: 90%;
  padding: 35px 25px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.details_page_container > div {
  width: 47%;
}
.details_page_Dealer_Data {
  width: 90%;
  padding: 35px 25px;
  margin: auto;
  margin-top: 20px;
}
.main_container_detailPage {
  width: 95%;
  padding: 35px 25px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.tables_detailPage {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.tables_detailPage td,
.tables_detailPage th {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.detailPage_img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
}
.detailPage_img > img {
  width: 100%;
}
.detailPage_img > p {
  font-weight: bold;
  font-size: 39px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(24, 196, 8);
}

.searchvalue{
  background-color: #3182CE;
  color: white;
  cursor: pointer;
}
.signup-page {
  background-position: center;
  background-repeat: no-repeat;
  border: 0.1px solid rgb(214, 211, 211);
  height: 100vh;
  background-size: cover;

}


.login-page {
 
  background-position: center;
  background-repeat: no-repeat;
  border: 0.1px solid rgb(214, 211, 211);
  height: 100vh;
  background-size: cover;

}


.formBox {
  width: 450px;
  margin: auto;
  margin-top: 30px;
  padding-left: 35px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
  border-width: 3.5px; 
  border-image: linear-gradient(45deg, red, aqua, white);
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, red, aqua, white);
  animation: moveBorder 4s linear infinite; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes moveBorder {
  0% {
    border-image-source: linear-gradient(45deg, red, white, aqua);
    background-position: 0% 0%;
  }
  25% {
    border-image-source: linear-gradient(45deg, white, aqua, red);
    background-position: 100% 0%;
  }
  50% {
    border-image-source: linear-gradient(45deg,  aqua, white, red);
    background-position: 100% 100%;
  }
  75% {
    border-image-source: linear-gradient(45deg, red, aqua, white);
    background-position: 0% 100%;
  }
  100% {
    border-image-source: linear-gradient(45deg, aqua, white, red);
    background-position: 0% 0%;
  }
}

