.navbar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}
.navbar Button {
  background-color: white;
  color: rgb(20, 157, 221);
  font-size: 30px;
}
.Heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  color: rgb(20, 157, 221);
}
.formBox {
  width: 20%;
  margin: auto;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 40px 15px;
  border-radius: 10px;
  
  /* border: 2px solid black; */
}
.textt{
text-align: center;
}
.formBox input {
  width: 90%;
  padding: 6px;
  margin-bottom: 4px;
  margin-top: 6px;
  border: 1px solid rgb(171, 174, 175);
  border-radius: 8px;
}
.formBox label {
  color: rgb(18, 113, 202);
  font-weight: bold;
}
.formBox input[type="submit"] {
  color: white;
  font-weight: bold;
  background-color: rgb(20, 157, 221);
  cursor: pointer;
}
.login_link {
  color: rgb(8, 82, 179);
  text-decoration: underline;
}
.add_car {
  display: flex;
  justify-content: end;
  width: 90%;
  margin: auto;
  margin-top: 40px;
}
.addCar_container {
  width: 85%;
  padding: 35px 25px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.addCar_container > div {
  width: 45%;
}
.addCar_container > div label {
  color: rgb(18, 113, 202);
  font-weight: bold;
}
.addCar_container > div input {
  width: 90%;
  padding: 6px;
  margin-bottom: 4px;
  margin-top: 6px;
  border: 1px solid rgb(171, 174, 175);
  border-radius: 8px;
}
.addCar_button {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 90px;
}
.addCar_button button {
  height: 90%;
  width: 40%;
  font-size: 32px;
}
.carList {
  width: 35%;
  margin-top: 4px;
  margin-bottom: 3px;
  padding: 2px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.carList:hover {
  cursor: pointer;
  background-color: rgb(171, 233, 212);
}
.homePage_cars_container {
  width: 85%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.homePage_cars_div {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 20px 15px;
}
.homePage_cars_div > img {
  width: 90%;
  margin: auto;
  height: 200px;
  margin-bottom: 10px;
}
.homePage_cars_div > p {
  padding: 3px;
  font-weight: bold;
}
.details_btn {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}
.homepage_icon_btn{
  width: 10%;
  color: black;
  font-size: 28px;
  padding: 6px;
  font-weight: bold;
}

.loading{
  text-align: center;
  font-size: 25px;
}
.details_btn > button:nth-child(2){
  width: 30%;
  color: whitesmoke;
  background-color: rgb(20, 157, 221);
  font-size: 18px;
  padding: 6px;
  font-weight: bold;
}

.details_btn > button:nth-child(2):hover {
  background-color: rgb(19, 84, 114);
}
.homepage_icon_btn:hover{
  background-color: rgb(201, 215, 221);
}
/*--------------------------------- Details Page css ------------------------------- */
.details_page_container {
  width: 90%;
  padding: 35px 25px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.details_page_container > div {
  width: 47%;
}
.details_page_Dealer_Data {
  width: 90%;
  padding: 35px 25px;
  margin: auto;
  margin-top: 20px;
}
.main_container_detailPage {
  width: 95%;
  padding: 35px 25px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.tables_detailPage {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.tables_detailPage td,
.tables_detailPage th {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.detailPage_img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
}
.detailPage_img > img {
  width: 100%;
}
.detailPage_img > p {
  font-weight: bold;
  font-size: 39px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(24, 196, 8);
}